body {
    background-color: #cfcfcf;
    font-family: "Times New Roman", Times, serif;
    margin: 0;
}

/* Container */
.blog-container {
    display: grid;
    grid-template-columns: repeat(3, 300px); /* fixed card width */
    justify-content: center; /* center whole layout */
    gap: 60px;
    padding-top: 60px;
}

/* Cards */
.blog-column {
    background-color: #f2f2f2;
    padding: 40px 20px;
    border-radius: 4px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);

    text-align: center;
}

/* Center bottom card */
.blog-column:nth-child(4) {
    grid-column: 2;
}

/* Heading */
.blog-column h2 {
    margin-bottom: 30px;
}

/* Remove bullets */
.blog-column ul {
    list-style: none;
    padding: 0;
}

/* List items */
.blog-column li {
    margin: 12px 0;
}
